@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.btn {
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  background-color: #1EC6B6;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

header.header-sec {
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header.header-sec.active {
  position: fixed;
  top: -70px;
  left: 0;
  transform: translateY(60px);
  width: 100%;
  z-index: 100;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  transition: transform 500ms ease, background 500ms ease;
}
header.header-sec div.header-left {
  margin: 30px auto 30px 60px;
  display: flex;
  align-items: center;
  gap: 0px 60px;
}
header.header-sec div.header-left div.header-left-logo-area {
  border-right: 1px solid rgba(68, 68, 68, 0.2);
  padding-right: 20px;
}
header.header-sec div.header-left i#header-more-menu {
  display: none;
  font-size: 22px;
  cursor: pointer;
}
header.header-sec div.header-left nav.header-nav-bar ul.header-nav-bar-links-area {
  list-style: none;
  display: flex;
  gap: 0px 40px;
}
header.header-sec div.header-left nav.header-nav-bar ul.header-nav-bar-links-area li a {
  text-decoration: none;
  color: #040E27;
  transition: 0.2s ease-in-out;
}
header.header-sec div.header-left nav.header-nav-bar ul.header-nav-bar-links-area li a:hover {
  color: #1EC6B6;
}
header.header-sec div.header-mid {
  margin-right: 2%;
  display: flex;
  gap: 0px 60px;
}
header.header-sec div.header-right > a {
  background-color: #FF4A52;
  padding: 44px 44px 41px 44px;
}
header.header-sec div.header-right > a i {
  font-size: 20px;
}
header.header-sec div.header-m--l {
  display: flex;
  align-items: center;
  gap: 0px 10px;
}
header.header-sec div.header-m--r div.header-m--r-social-links-area {
  display: flex;
  gap: 0px 20px;
}
header.header-sec div.header-m--r div.header-m--r-social-links-area a {
  text-decoration: none;
  color: #040E27;
}
header.header-sec div.header-m--r div.header-m--r-social-links-area a i {
  font-size: 18px;
  transition: 0.2s ease-in-out;
}
header.header-sec div.header-m--l-hidden {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0px 10px;
}
header.header-sec div.menu-bar-hidden {
  position: absolute;
  top: 0px;
  left: -105%;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  transition: left 500ms ease;
}
header.header-sec div.menu-bar-hidden.show {
  left: 0%;
}
header.header-sec div.menu-bar-hidden a.menu-bar-hidden-logo {
  display: block;
  margin: auto;
  width: -moz-max-content;
  width: max-content;
}
header.header-sec div.menu-bar-hidden div.menu-bar-hidden-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 30px 0px;
}
header.header-sec div.menu-bar-hidden div.menu-bar-hidden-top div.nav-bar-hidden-close-icon i {
  font-size: 28px;
  cursor: pointer;
}
header.header-sec div.menu-bar-hidden nav.nav-bar-hidden ul.header-nav-bar-links-area {
  list-style: none;
}
header.header-sec div.menu-bar-hidden nav.nav-bar-hidden ul.header-nav-bar-links-area li {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
header.header-sec div.menu-bar-hidden nav.nav-bar-hidden ul.header-nav-bar-links-area li a {
  color: #FF4A52;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
header.header-sec div.menu-bar-hidden nav.nav-bar-hidden ul.header-nav-bar-links-area li a:hover {
  color: #1EC6B6;
}
header.header-sec div.menu-bar-hidden a.menu-bar-hidden-search {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #FF4A52;
  text-align: center;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
header.header-sec div.menu-bar-hidden a.menu-bar-hidden-search:hover {
  background-color: #1EC6B6;
}
header.header-sec div.menu-bar-hidden a.menu-bar-hidden-search i {
  font-size: 22px;
  line-height: 50px;
}
header.header-sec div.menu-bar-hidden div.header-m--r-social-links-area {
  margin: 40px 0px 60px 0px;
  display: flex;
  justify-content: space-evenly;
}
header.header-sec div.menu-bar-hidden div.header-m--r-social-links-area a.header-m--r-social-before i {
  font-size: 22px;
}

section.intro-sec .intro-swiper {
  position: relative;
}
section.intro-sec .intro-swiper img.intro-swiper-pic {
  width: auto;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
}
section.intro-sec .intro-swiper div.intro-slider-info-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}
section.intro-sec .intro-swiper div.intro-slider-info-area h3.intro-swiper-location {
  font-family: "Nothing You Could Do", cursive;
  font-size: 10rem;
}
section.intro-sec .intro-swiper div.intro-slider-info-area p.intro-swiper-info {
  margin-top: -30px;
  text-align: center;
  font-size: 1.2rem;
}
section.intro-sec .intro-swiper div.intro-slider-info-area a.intro-swiper-btn {
  display: block;
  margin: 40px auto 0px auto;
  padding: 15px;
  width: 180px;
}
section.intro-sec .intro-swiper div.intro-slider-info-area a.intro-swiper-btn:hover {
  background-color: #FF4A52;
}

section.destination-search-sec {
  background-color: #040E27;
  margin-top: -5px;
  padding: 50px 0px;
}
section.destination-search-sec div.container div.destination-search-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
section.destination-search-sec div.container div.destination-search-wrapper h4.dest-srch-title {
  font-size: 25px;
  color: #fff;
  font-weight: 400;
}
section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.6fr;
  gap: 0px 20px;
}
section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form input,
section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form select {
  height: 50px;
  padding: 0px 10px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form input:focus-visible,
section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form select:focus-visible {
  outline: none;
}
section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form select option {
  background-color: #fff;
  color: #040E27;
}
section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form a.dest-srch-form-btn {
  height: 50px;
  line-height: 50px;
}
section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form a.dest-srch-form-btn:hover {
  background-color: #FF4A52;
}

div.popular--top-info {
  margin: 0px auto 80px auto;
  width: 50%;
}
div.popular--top-info h3.popular--top-title {
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  color: #040E27;
  margin-bottom: 10px;
}
div.popular--top-info p.popular--top-info {
  text-align: center;
  font-size: 16px;
  color: #7A838B;
}

section.popular-destination-sec {
  padding: 120px 0px;
}
section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest div.pop-dest-bottom-dest-box {
  position: relative;
  transition: 0.3s ease-in-out;
}
section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest div.pop-dest-bottom-dest-box::before {
  position: absolute;
  content: "";
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  border-radius: 10px;
}
section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest div.pop-dest-bottom-dest-box:hover {
  transform: translateY(-10px);
}
section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest div.pop-dest-bottom-dest-box:hover h3.pop-dest-bottom-location {
  color: #FF4A52;
}
section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest div.pop-dest-bottom-dest-box:hover p.pop-dest-bottom-places {
  background-color: #FF4A52 !important;
}
section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest div.pop-dest-bottom-dest-box img.pop-dest-bottom-dest-img {
  width: 100%;
  height: 100%;
}
section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest div.pop-dest-bottom-dest-box div.pop-dest-bottom-info {
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 10;
  display: flex;
  align-items: center;
  color: #fff;
}
section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest div.pop-dest-bottom-dest-box div.pop-dest-bottom-info h3.pop-dest-bottom-location {
  font-size: 22px;
  font-weight: 400;
  margin-right: 10px;
  transition: 0.2s ease-in-out;
}
section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest div.pop-dest-bottom-dest-box div.pop-dest-bottom-info p.pop-dest-bottom-places {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #1EC6B6;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

section.newsletter-sec {
  background: linear-gradient(to bottom, rgba(4, 14, 39, 0.7), rgba(4, 14, 39, 0.7)), url("assets/newsletterAssets/newsletter.webp") no-repeat center center/cover;
  padding: 80px 0px;
}
section.newsletter-sec div.container div.newsletter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section.newsletter-sec div.container div.newsletter-wrapper div.newsletter-left {
  width: 30%;
}
section.newsletter-sec div.container div.newsletter-wrapper div.newsletter-left h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
  width: -moz-max-content;
  width: max-content;
}
section.newsletter-sec div.container div.newsletter-wrapper div.newsletter-left p {
  color: #AAB1B7;
  width: 95%;
  line-height: 1.6;
}
section.newsletter-sec div.container div.newsletter-wrapper form.newsletter-form input {
  width: 350px;
  height: 50px;
  padding: 0px 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}
section.newsletter-sec div.container div.newsletter-wrapper form.newsletter-form input:focus-visible {
  outline: none;
}
section.newsletter-sec div.container div.newsletter-wrapper form.newsletter-form a {
  padding: 15px 20px;
  transition: 0.2s ease-in-out;
}
section.newsletter-sec div.container div.newsletter-wrapper form.newsletter-form a:hover {
  background-color: #FF4A52;
}

section.popular-places-sec {
  background-color: #F7FAFD;
  padding: 120px 0px;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box {
  position: relative;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box:hover a div.pop-places-bottom-info h3.pop-places-bottom-place {
  color: #FF4A52;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box:hover a a.pop-places-bottom-price {
  background-color: #FF4A52;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box a {
  text-decoration: none;
  cursor: default;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box a img.pop-places-bottom-places-img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box a div.pop-places-bottom-info {
  border-radius: 0px 0px 5px 5px;
  background-color: #fff;
  padding: 20px;
  margin-top: -4px;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box a div.pop-places-bottom-info h3.pop-places-bottom-place {
  margin-bottom: 8px;
  color: #040E27;
  font-size: 24px;
  font-weight: 400;
  transition: 0.2s ease-in-out;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box a div.pop-places-bottom-info p.pop-places-bottom-country {
  margin-bottom: 12px;
  color: rgb(122, 131, 139);
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box a div.pop-places-bottom-info div.pop-places-bottom-reviews-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7A838B;
  font-size: 14px;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box a div.pop-places-bottom-info div.pop-places-bottom-reviews-area p.pop-places-bottom-days i {
  margin-right: 5px;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place div.pop-places-bottom-places-box a a.pop-places-bottom-price {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #1EC6B6;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-btn-area {
  margin: 50px auto 0px auto;
  width: -moz-max-content;
  width: max-content;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-btn-area a.pop-places-more-btn {
  display: block;
  padding: 10px 40px;
  height: auto;
  transition: 0.2s ease-in-out;
}
section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-btn-area a.pop-places-more-btn:hover {
  background-color: #FF4A52;
}

section.video-sec {
  background: linear-gradient(to bottom, rgba(4, 14, 39, 0.3), rgba(4, 14, 39, 0.3)), url("assets/videoAssets/bg.webp") no-repeat center center/cover;
  padding: 170px 0px;
}
@keyframes videoPlayPulse {
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
section.video-sec div.container div.video-wrapper h1.video-title {
  font-family: "Nothing You Could Do", cursive;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}
section.video-sec div.container div.video-wrapper div.video-play-btn-area {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
section.video-sec div.container div.video-wrapper div.video-play-btn-area a.video-play-btn {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 18px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1EC6B6;
}
section.video-sec div.container div.video-wrapper div.video-play-btn-area a.video-play-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
section.video-sec div.container div.video-wrapper div.video-play-btn-area a.video-play-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1EC6B6;
  border-radius: 50%;
  animation: videoPlayPulse 1.8s infinite;
}

section.features-sec {
  padding: 120px 0px;
}
section.features-sec div.container div.features-wrapper div.features-area {
  display: flex;
  gap: 0px 40px;
}
section.features-sec div.container div.features-wrapper div.features-area div.features-icon-area {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
section.features-sec div.container div.features-wrapper div.features-area div.features-info {
  text-align: center;
}
section.features-sec div.container div.features-wrapper div.features-area div.features-info h3.features-title {
  font-size: 24px;
  font-weight: 400;
  color: #040E27;
  margin-bottom: 10px;
}
section.features-sec div.container div.features-wrapper div.features-area div.features-info p.features-details {
  padding: 0px 20px;
  line-height: 1.5;
  color: #7A838B;
  font-size: 16px;
}

section.testimonial-sec {
  padding: 100px 0px 60px 0px;
  background-color: #f7fafd;
}
section.testimonial-sec div.container div.testimonial-wrapper .swiper-pagination-fraction,
section.testimonial-sec div.container div.testimonial-wrapper .swiper-pagination-custom,
section.testimonial-sec div.container div.testimonial-wrapper .swiper-horizontal > .swiper-pagination-bullets,
section.testimonial-sec div.container div.testimonial-wrapper .swiper-pagination-bullets.swiper-pagination-horizontal {
  margin-top: 180px;
}
section.testimonial-sec div.container div.testimonial-wrapper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #AAB1B7;
  opacity: 0.8;
}
section.testimonial-sec div.container div.testimonial-wrapper .swiper-pagination-bullet-active {
  background: #FF4A52;
  opacity: 1;
}
section.testimonial-sec div.container div.testimonial-wrapper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
section.testimonial-sec div.container div.testimonial-wrapper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px;
}
section.testimonial-sec div.container div.testimonial-wrapper .testimonial-swiper .test-swiper-box {
  padding: 20px 0px 60px 0px;
}
section.testimonial-sec div.container div.testimonial-wrapper .testimonial-swiper .test-swiper-box img.test-slider-pic {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  position: relative;
}
section.testimonial-sec div.container div.testimonial-wrapper .testimonial-swiper .test-swiper-box div.test-slider-quote-icon {
  width: 40px;
  height: 40px;
  background-color: #1EC6B6;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 52%;
}
section.testimonial-sec div.container div.testimonial-wrapper .testimonial-swiper .test-swiper-box div.test-slider-quote-icon i {
  font-size: 20px;
  line-height: 40px;
}
section.testimonial-sec div.container div.testimonial-wrapper .testimonial-swiper .test-swiper-box div.test-slider-info-area {
  margin-top: 30px;
  text-align: center;
}
section.testimonial-sec div.container div.testimonial-wrapper .testimonial-swiper .test-swiper-box div.test-slider-info-area p.test-swiper-quote {
  margin: auto;
  width: 60%;
  font-size: 18px;
  color: #040E27;
  line-height: 1.5;
}
section.testimonial-sec div.container div.testimonial-wrapper .testimonial-swiper .test-swiper-box div.test-slider-info-area p.test-swiper-person {
  margin-top: 10px;
  font-size: 16px;
  color: #7A838B;
}

section.recent-trips-sec {
  padding: 100px 0px;
}
section.recent-trips-sec div.container div.recent-trips-wrapper div.recent-trips-area {
  display: flex;
  gap: 0px 40px;
}
section.recent-trips-sec div.container div.recent-trips-wrapper div.recent-trips-area div.recent-trips-box:hover div.recent-trips-info h3.recent-trips-title a {
  color: #FF4A52;
}
section.recent-trips-sec div.container div.recent-trips-wrapper div.recent-trips-area div.recent-trips-box img.recent-trips-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
section.recent-trips-sec div.container div.recent-trips-wrapper div.recent-trips-area div.recent-trips-box div.recent-trips-info {
  margin-top: 15px;
  padding: 2px;
}
section.recent-trips-sec div.container div.recent-trips-wrapper div.recent-trips-area div.recent-trips-box div.recent-trips-info p.recent-trips-date {
  font-size: 14px;
  color: #7A838B;
  margin-bottom: 10px;
}
section.recent-trips-sec div.container div.recent-trips-wrapper div.recent-trips-area div.recent-trips-box div.recent-trips-info h3.recent-trips-title {
  font-size: 24px;
  font-weight: 400;
}
section.recent-trips-sec div.container div.recent-trips-wrapper div.recent-trips-area div.recent-trips-box div.recent-trips-info h3.recent-trips-title a {
  text-decoration: none;
  color: #040E27;
  transition: 0.2s ease-in-out;
}

footer.footer-sec {
  background-color: #040E27;
  padding: 100px 0px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top {
  display: flex;
  justify-content: space-between;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top h3.footer-top-title {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 40px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top p,
footer.footer-sec div.container div.footer-wrapper div.footer-top a,
footer.footer-sec div.container div.footer-wrapper div.footer-top ul.footer-top-list {
  color: #acacac;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top a {
  transition: 0.2s ease-in-out;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top a:hover {
  color: #FF4A52;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top div.footer-top-left img {
  margin-bottom: 30px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top div.footer-top-left div.footer-top-left-details p {
  margin-bottom: 10px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top div.footer-top-left div.footer-top-left-socials {
  margin-top: 30px;
  display: flex;
  gap: 0px 20px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top div.footer-top-left div.footer-top-left-socials a.footer-t-l-social {
  display: block;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top div.footer-top-mid-1 ul.footer-top-list li {
  margin-bottom: 20px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top div.footer-top-mid-2 ul#footer-top-mid-2-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 60px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top div.footer-top-right div.footer-top-right-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 10px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-top div.footer-top-right div.footer-top-right-images div.footer-top-right-image a img {
  border-radius: 5px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-bottom {
  margin-top: 80px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-bottom hr#footer-bottom-line {
  background-color: #AAB1B7;
  border-radius: 10px;
  height: 0.2px;
  margin-bottom: 10px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-bottom p {
  text-align: center;
  color: #AAB1B7;
  font-size: 14px;
}
footer.footer-sec div.container div.footer-wrapper div.footer-bottom p b {
  color: #FF4A52;
  letter-spacing: 1px;
  line-height: 2;
}

@media (max-width: 1370px) {
  header.header-sec div.header-left {
    margin: 30px auto 30px 30px;
    gap: 0px 20px;
  }
  header.header-sec div.header-left div.header-left-logo-area {
    padding-right: 15px;
  }
  header.header-sec div.header-left nav.header-nav-bar ul.header-nav-bar-links-area {
    gap: 0px 25px;
  }
  header.header-sec header.header-sec div.header-mid {
    gap: 0px 20px;
  }
  section.destination-search-sec div.container div.destination-search-wrapper h4.dest-srch-title {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 1180px) {
  header.header-sec div.header-mid div.header-m--l {
    display: none;
  }
  section.intro-sec .intro-swiper div.intro-slider-info-area h3.intro-swiper-location {
    font-size: 8rem;
  }
  section.newsletter-sec div.container div.newsletter-wrapper {
    flex-direction: column;
  }
  section.newsletter-sec div.container div.newsletter-wrapper div.newsletter-left {
    width: 80%;
    margin-bottom: 30px;
    text-align: center;
  }
  section.newsletter-sec div.container div.newsletter-wrapper div.newsletter-left h2 {
    margin-bottom: 0px;
    margin: auto;
  }
  footer.footer-sec div.container div.footer-wrapper div.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 0px;
  }
  footer.footer-sec div.container div.footer-wrapper div.footer-top h3.footer-top-title {
    margin-bottom: 30px;
  }
}
@media (max-width: 920px) {
  div.popular--top-info {
    width: 80%;
  }
  header.header-sec div.header-mid div.header-m--r {
    display: none;
  }
  section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest,
  section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place {
    grid-template-columns: repeat(2, 1fr);
  }
  section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form a.dest-srch-form-btn {
    grid-column: span 3;
  }
  section.testimonial-sec div.container div.testimonial-wrapper .testimonial-swiper .test-swiper-box div.test-slider-info-area p.test-swiper-quote {
    width: 80%;
  }
}
@media (max-width: 770px) {
  nav.header-nav-bar,
  div.header-right {
    display: none;
  }
  header.header-sec div.header-left {
    gap: 150px 0px;
  }
  header.header-sec div.header-left i#header-more-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  section.intro-sec .intro-swiper div.intro-slider-info-area h3.intro-swiper-location {
    font-size: 6rem;
    margin-bottom: 20px;
  }
  section.destination-search-sec div.container div.destination-search-wrapper {
    display: block;
  }
  section.destination-search-sec div.container div.destination-search-wrapper form.dest-srch-form {
    display: flex;
    flex-direction: column;
  }
  section.recent-trips-sec div.container div.recent-trips-wrapper div.recent-trips-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  footer.footer-sec div.container div.footer-wrapper div.footer-top {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  section.popular-destination-sec div.container div.popular-destination-wrapper div.popular-destination-bottom-dest,
  section.popular-places-sec div.container div.popular-places-wrapper div.popular-places-bottom-place {
    grid-template-columns: 1fr;
  }
  section.intro-sec .intro-swiper div.intro-slider-info-area h3.intro-swiper-location {
    font-size: 4.5rem;
  }
  section.intro-sec .intro-swiper div.intro-slider-info-area a.intro-swiper-btn {
    margin-top: 20px;
  }
  section.newsletter-sec div.container div.newsletter-wrapper form.newsletter-form a {
    display: block;
    height: 50px;
    line-height: 25px;
    width: 350px;
    margin-top: 20px;
  }
  section.features-sec div.container div.features-wrapper div.features-area {
    flex-direction: column;
    gap: 40px;
  }
  section.testimonial-sec div.container div.testimonial-wrapper .testimonial-swiper .test-swiper-box div.test-slider-info-area p.test-swiper-quote {
    width: 100%;
  }
  footer.footer-sec div.container div.footer-wrapper div.footer-top {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 440px) {
  section.intro-sec .intro-swiper div.intro-slider-info-area h3.intro-swiper-location {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  section.intro-sec .intro-swiper div.intro-slider-info-area p.intro-swiper-info {
    font-size: 1rem;
  }
  section.newsletter-sec div.container div.newsletter-wrapper div.newsletter-left {
    width: 100%;
  }
  section.newsletter-sec div.container div.newsletter-wrapper div.newsletter-left p {
    width: auto;
  }
  section.newsletter-sec div.container div.newsletter-wrapper div.newsletter-left section.newsletter-sec div.container div.newsletter-wrapper form.newsletter-form input,
  section.newsletter-sec div.container div.newsletter-wrapper form.newsletter-form a {
    width: 100%;
  }
  section.recent-trips-sec div.container div.recent-trips-wrapper div.recent-trips-area {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=App.css.map */